@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

.list-item-detail {
  border: solid 1px rgb(221, 218, 218);
  border-radius: 10px;
  margin: auto;
  margin-top: 150px;
  padding-bottom: 15px;
}
.list-item-detail img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}
.list-item-detail h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: rgb(5, 62, 71);
}
.item-detail p {
  color: rgb(153, 152, 152);
}

.list-item-detail {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.item-detail-texto {
  margin: auto;
  padding: 30px;
  max-height: 400px;
  overflow-y: auto;
}
