@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

.list-item-detail {
  border: solid 1px rgb(221, 218, 218);
  border-radius: 10px;
  margin: 30px auto;

  padding-bottom: 0px;
}
.list-item-detail img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}
.list-item-detail h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: rgb(5, 62, 71);
}
.item-detail p {
  color: rgb(153, 152, 152);
}

.list-item-detail {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.item-detail-texto {
  margin: auto;
}

.list-item-detail button {
  margin-top: 20px;
  padding: 5px;
}

.list-detail-button {
  text-decoration: none !important;
  font-size: 16px !important;
  background: transparent !important;
  padding: 2px 8px !important;
  margin: 5px 5px !important;
  color: rgb(5, 62, 71) !important;
  border: 1px solid rgb(5, 62, 71) !important;
  font-weight: 500 !important;
}

.list-detail-button:hover {
  color: white !important;
  border: 1px solid rgb(5, 62, 71) !important;
  background: rgb(5, 62, 71) !important;
}

@media (max-width: 1024px) {
  .list-item-detail {
    width: 80%;
    display: block;
    padding-bottom: 20px;
  }
  .list-item-detail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
