.itemDetail-container {
  margin-top: 110px;
  font-family: "Oswald", sans-serif;
}
#ItemDetail-title {
  font-size: 35px;
  margin-top: 70px;
  padding: 20px;
  color: rgb(17, 168, 148);
  background: linear-gradient(to right, black, rgb(17, 168, 148));
}

.detail-container {
  display: flex;
  justify-content: center;
}
.item-position {
  border: solid rgb(161, 161, 211) 2px;
  padding: 10px;
  border-radius: 10%;
}
