.list-container {
  margin-top: 110px;
  font-family: "Oswald", sans-serif;
}
.list-container h2 {
  font-size: 35px;
}

.item-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.item-position {
  border: solid rgb(161, 161, 211) 2px;
  padding: 10px;
  border-radius: 10%;
}
