.button-itemCount {
  background-color: white;
  margin: 10px;
  border: solid rgb(161, 161, 211) 2px;
  padding: 10px;
  border-radius: 10px;
}

.itemCount-change {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#item-count {
  width: 30px;
}
